In [13]:
%pip install pandas
import pandas as pd # type: ignore

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/vipul/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: tzdata>=2022.7 in /Users/vipul/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/vipul/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vipul/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/vipul/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
df= pd.read_csv("./datasets/IMDB-Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [16]:
# Changing review into lowercase
df['review']= df['review'].str.lower();
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [17]:
import re;
def remove_html_tags(text):
    pattern= re.compile('<.*?>')
    return pattern.sub(r'',text)

In [18]:
df['review']= df['review'].apply(remove_html_tags);
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive